---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Natalia Kuchta" description="About Natalia Kuchta">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="I love travels and programming"
				tagline="Thanks for stopping by. Read below to learn more about myself and my experiences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Rust in the sea"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Experiences</h2>
				<div class="content">
					<p>
						Traveling with programming is like bringing your own superhero cape—no matter where you go,
						you've got the power to debug your way out of any situation. Wi-Fi might be the final boss,
						but with enough coffee and code, you can conquer anything from a beachfront bungalow to a mountain cabin.
						Just remember, if your code works on vacation, it’s basically a souvenir!
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Master</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Frontend development</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
